<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>737796098516-9a6mcsfmffdgssjliopa3ntbuklfptlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737796098516-9a6mcsfmffdgssjliopa3ntbuklfptlj</string>
	<key>API_KEY</key>
	<string>AIzaSyDFv2WIBzFB62F_NqIR4F03dSfPBSl0MfE</string>
	<key>GCM_SENDER_ID</key>
	<string>737796098516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harappa.NoA</string>
	<key>PROJECT_ID</key>
	<string>noah-3408b</string>
	<key>STORAGE_BUCKET</key>
	<string>noah-3408b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737796098516:ios:78d81c9f9ee99618</string>
	<key>DATABASE_URL</key>
	<string>https://noah-3408b.firebaseio.com</string>
</dict>
</plist>